.market-item .tile-footer {
	padding: 0;
}

.market-item .tile-footer .btn {
	border-radius: 0;
}

.login-page .login-header {
	padding: 15vh 0 5vh 0;
}

.logo a, .logo h1 {
	font-size: 2.4rem;
	color: #fff;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel {
	margin-bottom: 10px;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header {
	background: none;
	padding-top: 0;
	padding-left: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header h3 {
	margin-top: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header:after {
	display: none;
}

.page-body .main-content {
	background-color: #ddd;
}

.modal-dialog {
	z-index: 9999;
}

.page-container .sidebar-menu #main-menu li.has-sub > a:before {
	font-family: 'FontAwesome';
	content: "\f105";
}

.btn-icon i {
	width: 3rem;
}