/* Medium & small */
@media only screen and (max-width: 767px) {
	.focus .header {
		margin-top: -4rem;
	}

	.page-body .page-container .main-content {
		padding-top: 100px;
	}

	.page-container .sidebar-menu .sidebar-menu-inner.ps-container {
		width: 100%;
		background: #2b303a;
		bottom: auto;
		height: auto;
	}

	.user-info {
		position: absolute;
		top: 0;
		left: 120px;
	}
}

/* Large */
@media only screen and (min-width: 768px) {
	.user-info {
		margin-bottom: 3rem;
	}
	.sidebar-collapsed .user-info > * {
		float: none;
	}
}

#calendar a.delete {
	color: #fff;
	font-size: 1.2em;
	display: none;
	text-shadow:
	-1px -1px 0 #f50,
	1px -1px 0 #f50,
	-1px 1px 0 #f50,
	1px 1px 0 #f50;
}

#calendar .fc-event-container:hover a.delete {
	display: block;
}

.tile-stats .num {
	font-size: 2.4rem;
}

.fc-view-container {
	margin: 0 -22px;
	font-size: 1.1em;
}

.fc-view-container thead {
	background: #eee;
}

.cbp_tmtimeline ul.meta {
	text-align: right;
}

.page-container .sidebar-menu.fixed,
.page-container .sidebar-menu.fixed .sidebar-menu-inner {
	width: 240px;
}

.sidebar-collapsed .sidebar-menu #main-menu > li > ul {
	bottom: 0 !important;
}

.sidebar-collapsed #main-menu > li > a {
	text-align: center;
}

.sidebar-collapsed #main-menu > li > a .fa {
	font-size: 1.8em;
	padding: .4em 0;
}

.sidebar-collapsed #main-menu > li > a label {
	display: none;
}

#main-menu a {
	font-size: 14px;
}


.sidebar-collapsed .user-info {
	padding: 1rem 0;
	text-align: center;
}

.sidebar-collapsed .user-info .name {
	display: none;
}

.user-info img {
	width: 48px;
	height: 48px;
}

.user-info {
	padding: 1rem 2rem;
	clear: both;
}

.user-info .points {
	display: block;
}

.user-info .points a {
	color: #fff;
}

.user-info .info {
	margin-left: .5em;
}

.user-info .name a {
	font-size: 1.5em;
	color: #fff;
}

.user-info > * {
	float: left;
}

.select2-search-choice .select2-search-choice-close {
	display: none;
}
.select2-search-choice:hover .select2-search-choice-close {
	display: block;
}
.select2-container-multi .select2-search-choice-close:before {
  font-family: 'FontAwesome';
  content: "\f00d";
	font-size: 1rem;
}

.fc-button {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 1em !important;
}

.fc-event {
	font-size: 1em;
	padding: .7em !important;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.4);
}

.fc-day-grid-event.google {
	background: #dd4b39 !important;
}
.fc-day-grid-event.facebook {
	background: #3b5998 !important;
}
.fc-day-grid-event.twitter {
	background: #55acee !important;
}
.fc-day-grid-event.weblink {
	background: #429167 !important;
}

.page-body .main-content.focus {
	background-color: #fff;
}

.focus .header {
	margin: -2rem -2rem 1rem -2rem;
	padding: 3rem;
	background-color: #ddd;
}

.longtext { word-wrap: break-word; }

.cbp_tmtimeline > li .cbp_tmicon { left: 15% }
.cbp_tmtimeline:before { left: 15%; }
.cbp_tmtimeline > li .cbp_tmtime { width: 20%; }
.cbp_tmtimeline > li .cbp_tmlabel { margin-left: 20%; }

#buyModal .tile-block .tile-footer a {
	padding: 1em 0;
}

#buyModal .tile-content > div:nth-child(2) {
	margin: .5em 0;
}

#buyModal .tile-content {
	font-size: 1.4em;
	line-height: 1;
}

.tile-block.tile-gray .tile-footer a:hover {
	color: #fff;
}

.tile-block.tile-gray .tile-footer a:hover .label {
	font-weight: bold;
}

#buy {
	text-align: center;
	font-weight: 900;
	font-size: 1.5em;
	color: #fff;
}

.market-item .tile-content.image p {
	padding: 1em;
	background: rgba(0,0,0,.5);
	color: #fff;
}

.market-item .tile-content.image {
	background-color: #303641;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	padding: 0;
}

.market-item .tile-footer .time {
	line-height: 2.5;
	padding-left: 1em;
}

.market-item .tile-footer .action .fa {
	color: #fff;
}

.market-item .tile-footer {
	padding: 0;
}

.market-item .tile-footer .btn {
	border-radius: 0;
}

.login-page .login-header {
	padding: 15vh 0 5vh 0;
}

.logo a, .logo h1 {
	font-size: 2.4rem;
	color: #fff;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel {
	margin-bottom: 10px;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header {
	background: none;
	padding-top: 0;
	padding-left: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header h3 {
	margin-top: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header:after {
	display: none;
}

.page-body .main-content {
	background-color: #ddd;
}

.modal-dialog {
	z-index: 9999;
}

.page-body .select2-container .select2-choice .select2-arrow b:before,
.page-container .sidebar-menu #main-menu li.has-sub > a:before {
	font-family: 'FontAwesome';
	content: "\f105";
}

.btn-icon i {
	width: 3rem;
}
