.cbp_tmtimeline > li .cbp_tmicon { left: 15% }
.cbp_tmtimeline:before { left: 15%; }
.cbp_tmtimeline > li .cbp_tmtime { width: 20%; }
.cbp_tmtimeline > li .cbp_tmlabel { margin-left: 20%; }

@media only screen and (max-width: 767px) {
	.page-body .page-container .main-content {
		padding-top: 100px;
	}

	.page-container .sidebar-menu .sidebar-menu-inner.ps-container {
		width: 100%;
		background: #2b303a;
		bottom: auto;
		height: auto;
	}
}

#buyModal .tile-block .tile-footer a {
	padding: 1em 0;
}

#buyModal .tile-content > div:nth-child(2) {
	margin: .5em 0;
}

#buyModal .tile-content {
	font-size: 1.4em;
	line-height: 1;
}

.tile-block.tile-gray .tile-footer a:hover {
	color: #fff;
}

.tile-block.tile-gray .tile-footer a:hover .label {
	font-weight: bold;
}

#buy {
	text-align: center;
	font-weight: 900;
	font-size: 1.5em;
	color: #fff;
}

.market-item .tile-content.image p {
	padding: 1em;
	background: rgba(0,0,0,.5);
	color: #fff;
}

.market-item .tile-content.image {
	background-color: #303641;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	padding: 0;
}

.market-item .tile-footer .time {
	line-height: 2.5;
	padding-left: 1em;
}

.market-item .tile-footer .action .fa {
	color: #fff;
}

.market-item .tile-footer {
	padding: 0;
}

.market-item .tile-footer .btn {
	border-radius: 0;
}

.login-page .login-header {
	padding: 15vh 0 5vh 0;
}

.logo a, .logo h1 {
	font-size: 2.4rem;
	color: #fff;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel {
	margin-bottom: 10px;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header {
	background: none;
	padding-top: 0;
	padding-left: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header h3 {
	margin-top: 0;
}

.page-body .main-content .cbp_tmtimeline > li .cbp_tmlabel.header:after {
	display: none;
}

.page-body .main-content {
	background-color: #ddd;
}

.modal-dialog {
	z-index: 9999;
}

.page-body .select2-container .select2-choice .select2-arrow b:before,
.page-container .sidebar-menu #main-menu li.has-sub > a:before {
	font-family: 'FontAwesome';
	content: "\f105";
}

.btn-icon i {
	width: 3rem;
}